
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family: "Open Sans", sans-serif;
$font-color-dark: #365165;
$primary-font-color: #00b187;
$gray: #7c8fa3;
$light-gray: #5c626c;
$green-button: #3eb97a;
$intensity-slider: #58c674;
$annoy-slider: #f0a54d;
$secondary-bg: #f1f1f1;
$font-color-light: #b5b7bb;
$menu-bg: #363e48;
