
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.parent9{
  display: none !important;
}

.vdp-datepicker input{
		width: 100% !important;
    z-index: 9999999;
    position: relative;
    display: block;
		border: 1px solid #999 !important;
		border-radius: 5px;
}

.myselect {
		border: 1px solid #999 !important;
		border-radius: 5px;
}

.vue-slider-rail {
  position: initial !important;
}


*{
  font-family: $font-family;
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
